- title ["Category: #{params[:category].titlecase}", @blog.title, site.name].join(' - ')
- breadcrumb "Category: #{params[:category].titlecase}"

#content
  %h2.title= node.title

  %p.breadcrumbs
    = breadcrumbs :style => :inline, :separator => "&raquo;"
    
  %article
    = render :partial => "post", :collection => @posts
  
  = render "sidebar"
