- title ["Tag: #{params[:tag]}", @blog.title, site.name].join(' - ')
- breadcrumb "Tag: #{params[:tag]}"

#content
  %h2.title= node.title

  %p.breadcrumbs
    = breadcrumbs :style => :inline, :separator => "&raquo;"
    
  %article
    = render :partial => "post", :collection => @posts
  
  = render "sidebar"
