- layout.name = "Default"

!!!

%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    
    %title= title
    
    = stylesheet "screen"
    = javascript "jquery", "site"
    
    /[if IE]
      = javascript "html5"
    
    = favicon
    = meta_tags
    
    %meta{:name => "viewport", :content => "width=1100"}
  
  %body{ :class => @body_class }
    #page
      %header#header
        .center
          .logo
            = snippet "Logo"
            %span
    
          %nav
            = navigation :depth => 0
    
      .pattern
        .shadow-top
        .shadow-bottom
      
      = yield
      
      .push

    %footer#footer
      .center
        .copyright
          %p Copyright &copy; 2011 Sam Pohlenz t/as Wheelhouse Labs. All rights reserved.
          
          %p.credits
            Theme:
            = link_to "Inspiration", "http://themeforest.net/item/inspiration-premium-xhtmlcss-template/539797", :target => "_blank"
            by
            = link_to "CSSMixer", "http://cssmixer.com", :target => "_blank"
            \-
            = link_to "(Download from GitHub)", "https://github.com/WheelhouseCMS/Demo-Theme"
        
        .social-media
          = snippet "Social Media"
    
    = google_analytics
